node_modules/
config/config.json
staticHomeHTML/
backups/
dist/
cache/
ingestion/cache
oldCache/
ingestion/oldCache
oldCache/
localData/
webPagesCache/
.env
src/ingestion/cache
hook_script.sh
hooks.json
webhook_logs/
startWithEnv.sh
